<!-- wp:template-part {"slug":"notice"} /-->

<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"type":"default"}} -->
<main class="wp-block-group site-main"><!-- wp:group {"align":"full","className":"crumb","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull crumb"><!-- wp:breadcrumbs {"separator":"／"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","className":"page-head","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull page-head"><!-- wp:group {"className":"page-head-in","layout":{"type":"default"}} -->
<div class="wp-block-group page-head-in"><!-- wp:post-title {"level":1} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
